.search-container {
  border-radius: 5px;

  padding-bottom: 20px;

  font-weight: 650;
  font-family: Arial, Helvetica, sans-serif;
}

.search-container form input {
  height: 30px;
  border-radius: 5px;
  width: 200px;
  border-color: rgba(183, 178, 178, 0.386);
}

#submit-button {
  background-color: rgb(61, 129, 245);
  border-radius: 20px;
  font-size: large;
  color: white;
  width: 250px;
  height: 35px;
  padding: 5px;
  margin-top: 20px;
}

#submit-button:hover {
  background-color: rgb(76, 138, 245);
  cursor: pointer;
}

#erm-2 {
  color: red;
  font-weight: 200;
}
